body{
    background-image: url(Images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
}

* {
    font-family: initial;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
}

.indexContent{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 0.4fr 2fr;
        grid-template-areas:
          "photo header"
          "photo text"
}

.indexHeader{
    text-align: justify;
           margin-left: 5%;
           margin-top: 5%;
           font-size: 50px;
            grid-area: header; 
}

.mail-n-number{
    grid-area: header; 
    margin-left: 5%;
    margin-top: 3%;
}

.indexText{
    font-size: 16px;
         margin-left: 5%;
         margin-right: 15%;
        list-style-type: none;  
        grid-area: text;    
        margin-top: -3%;
}

.selfie{
    margin-left: 15%;
    margin-top: 10%;
    grid-area: photo;
}

h2, h3, h4, h5, h6{
    font-size: 20px;
    margin-bottom: -1%;
}


.gallery h1{
    font-size: 40px;
    text-align: center;
    margin-left: 0px;
}

.gallery p{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: aliceblue;
}

.gallery-images{
    display: flex;
    width: 100vw;
   justify-content: space-evenly;
}


.pen-on-paper{
    font-size: 80px;
    text-align: center;
    margin-top: 2%
}

.pen-drawings{
    display: flex;
    width: 100vw;
   justify-content: space-evenly;
}


.pen-drawings-two{
    display: flex;
    width: 100vw;
   justify-content: space-evenly;
   margin-top: 5%;
}

.digitalart h1{
    font-size: 80px;
    text-align: center;
}

.digitalart p{
    display: grid;
    font-size: 13px;
    margin-left: 70px;
}


.dig-drawings{
    display: flex;
    width: 100vw;
   justify-content: space-evenly;
   margin-top: 2%;
}


.dig-drawings-two{
    display: flex;
    width: 100vw;
   justify-content: space-evenly;
   margin-top: 5%;
}


.oil-acrylics{
    font-size: 80px;
    text-align: center;
}


.can-drawings{
    display: flex;
    justify-content: center;
    gap: 10%
}

.bb-text{
    float: left;
    margin-right: 26px;
    font-size: 18px;
    padding: 15px;
    color: rgb(255, 255, 255);
    border: solid 2px rgb(255, 255, 255);
    text-align: justify;
}

.bb-text2{
    float: right;
    margin-right: 70px;
    margin-left: 26px;
    font-size: 18px;
    padding: 15px;
    color: rgb(255, 255, 255);
    border: solid 2px rgb(255, 255, 255);
    text-align: justify;
}


.aboutme img{
    float: left;
    margin-left: 70px;
    margin-right: 70px;
}

.aboutme h1{
    margin-left: 670px;
    font-size: 80px;
    text-align: justify;
}

.aboutme p{
    margin-left: 300px;
    margin-right: 200px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: center;
}


