body{
    background-image: url(Images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
}

* {
    font-family: initial;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
}

.indexContent{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 0.4fr 2fr;
        grid-template-areas:
          "photo header"
          "photo text"
}

.indexHeader{
    text-align: justify;
           margin-left: 5%;
           margin-top: 5%;
           font-size: 50px;
            grid-area: header; 
}

.mail-n-number{
    grid-area: header; 
    margin-left: 5%;
    margin-top: 3%;
}

.indexText{
    font-size: 16px;
         margin-left: 5%;
         margin-right: 15%;
        list-style-type: none;  
        grid-area: text;    
        margin-top: -3%;
}

.selfie{
    margin-left: 15%;
    margin-top: 10%;
    grid-area: photo;
}

h2, h3, h4, h5, h6{
    font-size: 20px;
    margin-bottom: -1%;
}


.gallery h1{
    font-size: 40px;
    text-align: center;
    margin-left: 0px;
}

.gallery p{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: aliceblue;
}

.gallery-images{
    display: flex;
    width: 100vw;
   justify-content: space-evenly;
}

.feed-h1{
    margin-left: 5%;
}
.feed-info{
    margin-left: 5%;
}


.form{
    background-color: white;
    width: 300px;
    height: 20%;
    padding: 1%;
    border: none;
    border-radius: 5px;
    margin-left: 5%;
}

.publish-button{
    background-color: white;
    width: 70px;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 5px;
}

